body {
    min-height: 100vh;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

#editor {
    width: 70vw;
}

#preview {
    width: 70vw;
    padding: 16.5px 14px;

    code {
        color: rgb(58, 56, 56);
        margin: auto 0.5rem;
    }

    pre {
        padding: 2rem;
        background: rgb(170, 164, 164);
        border-radius: 25px;
    }

    img {
        margin: 3rem auto;
        max-width: 50%;
        max-height: 30%;
    }
}